---
galaxy_info:
  role_name: sample
  author: platform-engineering
  description: Starter role for {{ namespace }}.{{ collection_name }}.
  license: Apache-2.0
  min_ansible_version: "{{ min_ansible_version }}"
  platforms:
    - name: EL
      versions:
        - "9"
  galaxy_tags:
    - {{ collection_name }}
    - repave

dependencies: []
