{% if runtime == 'nodejs' -%}
import { createServer } from "./server.js";

const port = Number(process.env.PORT ?? "{{ port }}");

createServer().listen(port, () => {
  console.log(`listening on ${port}`);
});
{% endif %}
