---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: quay.io/ansible/molecule:{{ min_ansible_version }}-systemd
    pre_build_image: true
provisioner:
  name: ansible
  config_options:
    defaults:
      roles_path: ..
verifier:
  name: ansible
