namespace: {{ namespace }}
name: {{ collection_name }}
version: 0.1.0
readme: README.md
authors:
  - platform-engineering
description: {{ description }}
license:
  - Apache-2.0
tags:
  - infrastructure
  - repave
  - {{ collection_name }}
dependencies: {}
repository: https://github.com/example/{{ namespace }}-{{ collection_name }}
documentation: https://github.com/example/{{ namespace }}-{{ collection_name }}#readme
issues: https://github.com/example/{{ namespace }}-{{ collection_name }}/issues
