terraform {
  required_version = ">= 1.8.0, < 2.0.0"

  required_providers {
{% if backend == 'datadog' %}
    datadog = {
      source  = "DataDog/datadog"
      version = "~> 3.0"
    }
{% elif backend == 'grafana' %}
    grafana = {
      source  = "grafana/grafana"
      version = "~> 3.0"
    }
{% elif backend == 'prometheus' %}
    null = {
      source  = "hashicorp/null"
      version = "~> 3.2"
    }
{% elif backend == 'otel' %}
    helm = {
      source  = "hashicorp/helm"
      version = "~> 2.0"
    }
{% endif %}
  }
}
